/*Structure globale*/
body {
    padding: 0;
    margin: 0;
	font: 14px Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	height:35vw;
	overflow-y:auto;
}

.pied{
	display:flex;
	justify-content:space-between;
	/*background-color: grey;*/
	height: auto;
	padding:1%;
	align-items:center;
	
	
}

.pied>img{height:50px; float:right;}

h1{font-size:1.2rem;}
h2{font-size:1rem;font-weight:bold;}
small{font-size:.8rem;}
summary,span{font-size:1rem;font-weight:bold;}
details>img{float:left;}

#map{
	height: 100%;
	width: 960px;
	
	/*background-color: pink;*/
	
}

.panneau{
	height:100%;
	
	/*width:480px;*/
	padding:0 1% 0 2%;
	/*background-color: pink;*/
	
	overflow-y:auto;
}

.panneau>p{
	text-indent:50px;
	
	float:right;
	}
.panneau>img{
	max-width:30vw;
	max-height:90%;
}

.mycluster{
	display:flex;
	
  background-clip: padding-box;
  background-color: rgba(65,105,225, .9);
  border: 3px solid rgba(65,105,225, .6);
 text-align: center;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5rem;
 
  
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0,.5);
  
}